# Step 1: Get the API to work

In [98]:
import requests
import json
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from __future__ import print_function
from pprint import pprint
import csv

In [2]:
#declare global variables
key = 'AIzaSyCPpOtIcdWhE6XaXwrCLCJWuJZYm129aWA'

In [3]:
#Configure the paramters for the request
params =  {"key": key}
url = "https://www.googleapis.com/qpxExpress/v1/trips/search"
headers = {"Content-Type": "application/json"}

In [4]:
request_content = {
  "request": {
    "slice": [
      {
        "origin": "LON",
        "destination": "AMS",
        "date": "2016-03-18",
        "maxStops": 0,
        "permittedDepartureTime": {
          "earliestTime": "19:30"
        }
      },
      {
        "origin": "AMS",
        "destination": "LON",
        "date": "2016-03-20",
        "maxStops": 0,
        "permittedDepartureTime": {
          "earliestTime": "18:00"
        }
      }
    ],
    "passengers": {
      "adultCount": 1,
      "infantInLapCount": 0,
      "infantInSeatCount": 0,
      "childCount": 0,
      "seniorCount": 0
    },
    "solutions": 5,
    "refundable": False
  }
}
data = json.dumps(request_content)

In [5]:
#r = requests.post(url, params = params, headers = headers, data = request_content)
r = requests.post(url, params = params, headers = headers, data = data)

In [6]:
j = r.json()
print(j['trips'].keys())
a = j['trips']['tripOption'][0]
pprint(a['saleTotal'])
pprint(a['slice'][1]['segment'][0]['leg'][0]['arrivalTime'])
pprint(a['slice'][1]['segment'][0]['leg'][0]['departureTime'])
pprint(a['slice'][1]['segment'][0]['flight']['carrier'])

#pprint(a['carrier'])
#a
#From a we need to extract (for each item):
#Price; departure and arrival time for each leg; Airline. That's it.

[u'tripOption', u'kind', u'data', u'requestId']
u'GBP186.11'
u'2016-03-20T19:15+00:00'
u'2016-03-20T18:50+01:00'
u'KL'

# Part II: Build the real thing

Steps:
1. define get_1price(origin, dest, date = '', permittedDepartureTime1, maxstop,..)
    * return only top option
2. define get_2price(origin1 = 'AMS', origin2 = 'LON', dest = 'CPH', date = '2016-12-29', permittedDepartureTime1, permittedDepartureTime1,..,) using get
    * return total price of the shortest flight, and the depart & arrival time each
3. run get_2price for one city for a number of days..
4. run get_2price for a list of top 30 destination cities..

In [7]:
#Define get_1price
def get_1price(origin = 'LON', destination = 'AMS', date_out = '2016-07-08', date_in = '2016-07-10',
               permittedDepartureTime_out_min = '18:00', permittedDepartureTime_out_max = '23:59',
               permittedDepartureTime_in_min = '17:00', permittedDepartureTime_in_max = '23:59'):
    #set a number of paramaters
    params =  {"key": key}
    url = "https://www.googleapis.com/qpxExpress/v1/trips/search"
    headers = {"Content-Type": "application/json"}
    #Build the request content. Initiate with a template
    request_content = {
      "request": {
        "slice": [
          {
            "origin": "LON",
            "destination": "AMS",
            "date": "2016-03-18",
            "maxStops": 0,
            "permittedDepartureTime": {
              "earliestTime": "19:30",
              "latestTime": "23:59"
            }
          },
          {
            "origin": "AMS",
            "destination": "LON",
            "date": "2016-03-20",
            "maxStops": 0,
            "permittedDepartureTime": {
              "earliestTime": "18:00",
              "latestTime": "23:59"
            }
          }
        ],
        "passengers": {
          "adultCount": 1,
          "infantInLapCount": 0,
          "infantInSeatCount": 0,
          "childCount": 0,
          "seniorCount": 0
        },
        "solutions": 1,
        "refundable": False,
        "saleCountry": "GB"
          }
        }
    request_content['request']['slice'][0]['origin'] = origin
    request_content['request']['slice'][0]['destination'] = destination
    request_content['request']['slice'][0]['date'] = date_out
    request_content['request']['slice'][0]['permittedDepartureTime']['earliestTime'] = permittedDepartureTime_out_min
    request_content['request']['slice'][0]['permittedDepartureTime']['latestTime'] = permittedDepartureTime_out_max
    
    request_content['request']['slice'][1]['origin'] = destination
    request_content['request']['slice'][1]['destination'] = origin
    request_content['request']['slice'][1]['date'] = date_in
    request_content['request']['slice'][1]['permittedDepartureTime']['earliestTime'] = permittedDepartureTime_in_min
    request_content['request']['slice'][1]['permittedDepartureTime']['latestTime'] = permittedDepartureTime_in_max

    data = json.dumps(request_content)
    
    r = requests.post(url, params = params, headers = headers, data = data)
    response = r.json()
    result = {}
    try:
        needed = response['trips']['tripOption'][0]
        result['price'] = float(needed['saleTotal'].replace('GBP',''))
        result['departureTime_out'] = needed['slice'][0]['segment'][0]['leg'][0]['departureTime']
        result['arrivalTime_out'] = needed['slice'][0]['segment'][0]['leg'][0]['arrivalTime']
        result['carrier_out'] = needed['slice'][0]['segment'][0]['flight']['carrier']
        result['departureTime_in'] = needed['slice'][1]['segment'][0]['leg'][0]['departureTime']
        result['arrivalTime_in'] = needed['slice'][1]['segment'][0]['leg'][0]['arrivalTime']
        result['carrier_in'] = needed['slice'][1]['segment'][0]['flight']['carrier']
        return result
    except:
        return None
        
    
#test print    
print(get_1price())

{'departureTime_in': u'2016-07-10T17:15+02:00', 'carrier_in': u'KL', 'arrivalTime_out': u'2016-07-08T23:10+02:00', 'price': 113.81, 'arrivalTime_in': u'2016-07-10T17:35+01:00', 'carrier_out': u'KL', 'departureTime_out': u'2016-07-08T21:00+01:00'}

In [8]:
#Define get_2price
def get_2price(origin1 = 'LON', origin2 = 'AMS', destination = 'CPH',
               date_out = '2016-07-08', date_in = '2016-07-10',
               permittedDepartureTime_out_min1 = '19:30', permittedDepartureTime_out_max1 = '23:59',
               permittedDepartureTime_in_min1 = '17:00', permittedDepartureTime_in_max1 = '23:59',
               permittedDepartureTime_out_min2 = '17:50', permittedDepartureTime_out_max2 = '23:59',
               permittedDepartureTime_in_min2 = '17:00', permittedDepartureTime_in_max2 = '23:59',
              ):
    result1 = get_1price(origin = origin1, destination = destination,
                        date_out = date_out, date_in = date_in,
                        permittedDepartureTime_out_min = permittedDepartureTime_out_min1,
                        permittedDepartureTime_out_max = permittedDepartureTime_out_max1,
                        permittedDepartureTime_in_min = permittedDepartureTime_in_min1,
                        permittedDepartureTime_in_max = permittedDepartureTime_in_max1)
    result2 = get_1price(origin = origin2, destination = destination,
                        date_out = date_out, date_in = date_in,
                        permittedDepartureTime_out_min = permittedDepartureTime_out_min1,
                        permittedDepartureTime_out_max = permittedDepartureTime_out_max1,
                        permittedDepartureTime_in_min = permittedDepartureTime_in_min1,
                        permittedDepartureTime_in_max = permittedDepartureTime_in_max1)
    if result1 and result2:
        result = {}
        result['price'] = int(result1['price'] + result2['price'])
        result['departureTime_out1'] = result1['departureTime_out']
        result['departureTime_out2'] = result2['departureTime_out']
        result['departureTime_in1'] = result1['departureTime_in']
        result['departureTime_in2'] = result2['departureTime_in']
        return result
    else:
        return None

#test run
result = get_2price(destination = 'BSL', date_out = '2016-07-08', date_in = '2016-07-10')
print(result)

{'departureTime_out1': u'2016-07-08T19:45+01:00', 'price': 223, 'departureTime_out2': u'2016-07-08T20:30+02:00', 'departureTime_in2': u'2016-07-10T18:35+02:00', 'departureTime_in1': u'2016-07-10T18:10+02:00'}

In [9]:
#Figure out how to add days
num_weeks = 20
start_date = '2016-04-01'
date_1 = datetime.datetime.strptime(start_date, "%Y-%m-%d")
date_2 = date_1 + datetime.timedelta(days=7)
print(date_1.date())
print(date_2.date())
b = str(date_1.date())
print(type(b))
print(b)

2016-04-01
2016-04-08
<type 'str'>
2016-04-01

In [84]:
#Test run for for CPH over the next 20 weeks
num_weeks = 20
start_date = '2016-04-01'
date_outs = []
prices = []
for i in range(num_weeks):
    date_out = datetime.datetime.strptime(start_date, "%Y-%m-%d") + datetime.timedelta(days=(7*i))
    date_in = datetime.datetime.strptime(start_date, "%Y-%m-%d") + datetime.timedelta(days=(7*i)) + \
        datetime.timedelta(days=2)
    date_out = str(date_out.date())
    date_in = str(date_in.date())
    result = get_2price(destination='BSL', date_out = date_out, date_in = date_in) 
    if result:
        price = result['price']
        prices.append(price)
        date_outs.append(date_out)

d = {'date_outs': pd.Series(date_outs),
     'prices': pd.Series(prices)}
df = pd.DataFrame(d)

In [33]:
df

     date_outs  prices
0   2016-04-01     346
1   2016-04-08     246
2   2016-04-15     272
3   2016-04-22     267
4   2016-04-29     240
5   2016-05-06     208
6   2016-05-20     182
7   2016-05-27     244
8   2016-06-03     223
9   2016-06-10     205
10  2016-06-17     205
11  2016-06-24     226
12  2016-07-01     252
13  2016-07-08     215
14  2016-07-15     229
15  2016-07-22     206
16  2016-07-29     229
17  2016-08-05     238
18  2016-08-12     206

In [13]:
#Figure out which European cities have suitable flights to begin with
airports = pd.read_csv('airports.dat', sep = ',', header=None)
routes = pd.read_csv('routes.dat', sep = ',', header=None)

In [52]:
print(airports.head(5))
print(routes.head(5)

   0                           1             2                 3    4     5   \
0   1                      Goroka        Goroka  Papua New Guinea  GKA  AYGA
1   2                      Madang        Madang  Papua New Guinea  MAG  AYMD
2   3                 Mount Hagen   Mount Hagen  Papua New Guinea  HGU  AYMH
3   4                      Nadzab        Nadzab  Papua New Guinea  LAE  AYNZ
4   5  Port Moresby Jacksons Intl  Port Moresby  Papua New Guinea  POM  AYPY

         6           7     8   9  10                    11               12
0 -6.081689  145.391881  5282  10  U  Pacific/Port_Moresby  0       Pacific
1 -5.207083  145.788700    20  10  U  Pacific/Port_Moresby  0       Pacific
2 -5.826789  144.295861  5388  10  U  Pacific/Port_Moresby  0       Pacific
3 -6.569828  146.726242   239  10  U  Pacific/Port_Moresby  0       Pacific
4 -9.443383  147.220050   146  10  U  Pacific/Port_Moresby  0       Pacific

KeyError: 12

In [80]:
#Shrink search place by 1) destinations in Europe 2) destinations that there are flights from Amsterdam
a1 = airports[airports[11].str.contains('Europe/')][4]
a1 = a1[a1 == a1]
a2 = routes[routes[2]=='AMS'][4]
a3 = a1[a1.isin(a2)]
len(a3)

141

In [90]:
#Check which airports have flights with suitable time
eligible_airports = []
for i in a3:
    if get_2price(destination=i) or get_2price(destination=i, date_out = '2016-05-06', date_in = '2016-05-08'):
        eligible_airports.append(i)

In [97]:
print(len(eligible_airports))
print(eligible_airports)
#There are 38 eligible airports in total

38
['FRA', 'DUS', 'MUC', 'STR', 'HAJ', 'HEL', 'MAN', 'NCL', 'ABZ', 'EDI', 'ORK', 'DUB', 'CPH', 'LUX', 'BGO', 'OSL', 'TRD', 'SVG', 'ARN', 'BCN', 'MAD', 'LYS', 'NCE', 'CDG', 'BUD', 'LIN', 'BLQ', 'VCE', 'FCO', 'PRG', 'LIS', 'GVA', 'ZRH', 'IST', 'SVO', 'ATH', 'BSL', 'SAW']

In [96]:
#Run the script across destination airports and dates
num_weeks = 20
start_date = '2016-04-01'
options = []

for airport in eligible_airports:
    for i in range(num_weeks):
        date_out = datetime.datetime.strptime(start_date, "%Y-%m-%d") + datetime.timedelta(days=(7*i))
        date_in = datetime.datetime.strptime(start_date, "%Y-%m-%d") + datetime.timedelta(days=(7*i)) + \
            datetime.timedelta(days=2)
        date_out = str(date_out.date())
        date_in = str(date_in.date())
        result = get_2price(destination=airport, date_out = date_out, date_in = date_in) 
        if result:
            option = {}
            option['destination'] = airport
            option['price'] = result['price']
            option['date_out'] = date_out
            options.append(option)
            if option['price'] < 200:
                print(option)

{'date_out': '2016-04-15', 'price': 196, 'destination': 'CPH'}
{'date_out': '2016-04-22', 'price': 178, 'destination': 'CPH'}
{'date_out': '2016-05-13', 'price': 166, 'destination': 'CPH'}
{'date_out': '2016-05-20', 'price': 162, 'destination': 'CPH'}
{'date_out': '2016-07-01', 'price': 195, 'destination': 'CPH'}
{'date_out': '2016-08-12', 'price': 195, 'destination': 'CPH'}
{'date_out': '2016-04-15', 'price': 191, 'destination': 'OSL'}
{'date_out': '2016-04-22', 'price': 191, 'destination': 'OSL'}
{'date_out': '2016-04-29', 'price': 197, 'destination': 'OSL'}
{'date_out': '2016-05-13', 'price': 194, 'destination': 'OSL'}
{'date_out': '2016-05-20', 'price': 190, 'destination': 'OSL'}
{'date_out': '2016-05-27', 'price': 190, 'destination': 'OSL'}
{'date_out': '2016-06-03', 'price': 190, 'destination': 'OSL'}
{'date_out': '2016-06-10', 'price': 199, 'destination': 'OSL'}
{'date_out': '2016-04-22', 'price': 195, 'destination': 'TRD'}
{'date_out': '2016-05-20', 'price': 195, 'destination': 'TRD'}
{'date_out': '2016-06-10', 'price': 195, 'destination': 'TRD'}
{'date_out': '2016-04-15', 'price': 199, 'destination': 'CDG'}
{'date_out': '2016-05-20', 'price': 184, 'destination': 'BSL'}

In [102]:
df = pd.DataFrame(options)
df.to_csv('options_20160226.csv')

In [104]:
print(df)

       date_out destination  price
0    2016-04-01         FRA    381
1    2016-04-08         FRA    315
2    2016-04-15         FRA    230
3    2016-04-22         FRA    238
4    2016-04-29         FRA    254
5    2016-05-06         FRA    235
6    2016-05-13         FRA    261
7    2016-05-20         FRA    238
8    2016-05-27         FRA    308
9    2016-06-03         FRA    262
10   2016-06-10         FRA    264
11   2016-06-17         FRA    254
12   2016-06-24         FRA    245
13   2016-07-01         FRA    264
14   2016-07-08         FRA    272
15   2016-07-15         FRA    264
16   2016-07-22         FRA    285
17   2016-07-29         FRA    295
18   2016-08-05         FRA    310
19   2016-08-12         FRA    292
20   2016-04-01         DUS    378
21   2016-04-08         DUS    369
22   2016-04-15         DUS    260
23   2016-04-22         DUS    254
24   2016-04-29         DUS    269
25   2016-05-06         DUS    248
26   2016-05-13         DUS    247
27   2016-05-20         DUS    260
28   2016-05-27         DUS    261
29   2016-06-03         DUS    272
..          ...         ...    ...
721  2016-06-10         BSL    207
722  2016-06-17         BSL    207
723  2016-06-24         BSL    231
724  2016-07-01         BSL    235
725  2016-07-08         BSL    223
726  2016-07-15         BSL    235
727  2016-07-22         BSL    212
728  2016-07-29         BSL    235
729  2016-08-05         BSL    251
730  2016-08-12         BSL    212
731  2016-04-01         SAW    412
732  2016-04-08         SAW    494
733  2016-04-15         SAW    357
734  2016-04-22         SAW    358
735  2016-04-29         SAW    524
736  2016-05-06         SAW    414
737  2016-05-13         SAW    394
738  2016-05-20         SAW    343
739  2016-05-27         SAW    467
740  2016-06-03         SAW    376
741  2016-06-10         SAW    312
742  2016-06-17         SAW    312
743  2016-06-24         SAW    345
744  2016-07-01         SAW    436
745  2016-07-08         SAW    502
746  2016-07-15         SAW    558
747  2016-07-22         SAW    586
748  2016-07-29         SAW    627
749  2016-08-05         SAW    550
750  2016-08-12         SAW    476

[751 rows x 3 columns]